@import 'main-stylesheet.scss';

.game-input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
    padding: 5vw;
    background-color: $blue-transparant;
    width: 50%;
    color: $white;
    margin: 9em auto 5em auto;

    h1 {
        font-size: 2.5em;
        margin: 1em 0;
        font-weight: 400;
    }

    h2 {
        margin: 1.5em 0 1em 0;
        font-weight: 400;
        color: $red;
    }

    p {
        font-size: 1.3em;
        display: flex;
    }

    input {
        margin: 0.5em;
    }
}

.yellow-label {
    color: $yellow;
}

.input-container {
    align-items: center;
    width: 100%;
    margin: 0.5em 0;
}

.input-field {
    flex: 1;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 0.75em;
    background-color: $blue-transparant;
    border: 1px solid $white;
    color: $white;
    border-style: none none solid none;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 1em 0;
}

.session-title {
    align-self: flex-start;
    margin: 1em 0 0.5em 0;
}

.session-option {
    margin: 0.5em 1em;
}

.alt-time-field {
    background-color: $white-transparant;
    color: $black;
    border-radius: 5px;
}

.textarea-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1em 0;
}

.textarea {
    resize: none;
    background-color: $blue-transparant;
    color: $white;
    padding: 0.5em;
    font-size: 1em;
    margin-top: 0.5em;
    border: 1px solid $white;
    border-radius: 5px;
}

.submit-button {
    border: 1px solid $yellow-transparant;
    flex: 1;
    font-size: 1em;
}

.clear-button {
    border: 1px solid $red;
    flex: 1;
    background-color: $blue-transparant;
    color: $red;
    font-size: 1em;
}

.clear-button:hover {
    background-color: $red;
    color: $white;
    cursor: pointer;
}

.confirm-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $blue-transparant;
    color: $white;
    margin: 10vw auto 0 auto;
    padding: 3vw;
    width: fit-content;
}

.confirm-message {
    font-weight: 400;
    margin: 1em 5em;
}

.close-button {
    font-size: 1.3em;
    padding: 0.5em 2em;
    margin-left: 0.5em;
    text-align: center;
}

@media only screen and (max-width: 1280px) {
    .game-input-form {
        width: 70%;
    }
}

@media only screen and (max-width: 1050px) {
    .game-input-form {
        width: 90%;
    }
}

@media only screen and (max-width: 900px) {
    .form-row{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px) {
    .game-input-form {
        padding: 2em;

        h1 {
            text-align: center;
        }
        input {
            margin: 0.5em 0;
        }
    }

    .form-row {
        flex-direction: column;
    }

    .input-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .input-field {
        width: 100%;
        margin: 0.5em 0;
    }

    .session-option input {
        margin: 0 1em;
    }

    .confirm-message-container {
        padding: 2em;
        width: 90%;
        margin-top: 5em;
    }

    .confirm-message {
        margin: 1em 0;
    }

    .close-button {
        margin-left: 0;
        margin-top: 1em;
    }
}